body {
  background-color: #ffffff;
  font: normal 0.875em/1.38 SourceCodePro-Regular;
  color: #7f8c8d;
}

.a--col-4 {
  position: relative;
  float: left;
  width: 25%;
  min-height: 14.286em;
  padding: 0.714em;
}

.a--footer {
  float: left;
  clear: both;
  width: 100%;
  min-height: 14.286em;
  margin-top: 7.143em;
  background-color: rgb(236, 240, 241);
}

.a--footer .a--wrapr,
.a--section--content .a--wrapr {
  position: relative;
}

.a--footer--made {
  float: left;
  width: 91.9997258771%;
  margin: 1.429em 0 0 3.99534%;
  padding-bottom: 0.286em;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: rgb(127, 140, 141);
}

.a--h1 {
  float: left;
  width: 80%;
  margin: 3.708em 0 0 10%;
  padding-bottom: 0.167em;
  font-size: 1.714em;
  line-height: 1.38;
  color: #ffffff;
}

.a--h3 {
  float: left;
  width: 91.9997258771%;
  margin-left: 3.99534%;
  padding-bottom: 0.2em;
  font-size: 1.429em;
  line-height: 1.38;
  color: #34495e;
}

.a--header-p {
  float: left;
  clear: both;
  width: 80%;
  margin-left: 10%;
  font-size: 1.143em;
  line-height: 1.38;
  color: #ffffff;
}

.a--header-title {
  float: left;
  width: 100%;
  min-height: 12.857em;
  background-color: #27ae60;
}

.a--row,
.a--section--content {
  float: left;
  clear: both;
  width: 100%;
}

.a--section-subtitle--p {
  float: left;
  clear: both;
  width: 91.9997258771%;
  margin-left: 3.99534%;
  padding-bottom: 0.286em;
  font-size: 1em;
  line-height: 1.45;
  color: #7f8c8d;
}

.a--section-warning--p {
  float: left;
  clear: both;
  width: 91.9997258771%;
  margin-left: 4%;
  padding: 1.429em 2.143em;
  border-radius: 0.214em;
  background-color: #fcf3d0;
  font-size: 1em;
  line-height: 1.45;
  color: #d35400;
}

.a--text-legend {
  margin: 0.714em auto 0;
  padding-bottom: 0.714em;
  font-size: 1em;
  line-height: 1.38;
  text-align: center;
  color: #7f8c8d;
}

.a--wrapr {
  width: 100%;
  min-width: 800px;
  max-width: 1140px;
  min-height: 2.857em;
  margin: 0 auto;
  padding-top: 1.429em;
  padding-bottom: 1.429em;
}

.fx--blur {
  width: 100%;
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

.fx--box-shaddow {
  position: relative;
  width: 50%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  overflow: visible;
}

.fx--box-shaddow .s--bubble {
  z-index: 39;
}

.fx--brightness {
  width: 100%;
  -webkit-filter: brightness(200%);
  -moz-filter: brightness(200%);
  -o-filter: brightness(200%);
  -ms-filter: brightness(200%);
  filter: brightness(200%);
}

.fx--contrast {
  width: 100%;
  -webkit-filter: contrast(200%);
  -moz-filter: contrast(200%);
  -o-filter: contrast(200%);
  -ms-filter: contrast(200%);
  filter: contrast(200%);
}

.fx--drop-shaddow {
  position: relative;
  width: 50%;
  overflow: visible;
  -webkit-filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.5));
  -moz-filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.5));
  -o-filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.5));
  -ms-filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.5));
  filter: drop-shadow(3px 3px 10px rgba(0,0,0,0.5));
}

.fx--drop-shaddow .s--bubble {
  z-index: 35;
}

.fx--grayscale {
  width: 100%;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  filter: grayscale(100%);
}

.fx--hue-rotate {
  width: 100%;
  -webkit-filter: hue-rotate(180deg);
  -moz-filter: hue-rotate(180deg);
  -o-filter: hue-rotate(180deg);
  -ms-filter: hue-rotate(180deg);
  filter: hue-rotate(180deg);
}

.fx--invert {
  width: 100%;
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -o-filter: invert(100%);
  -ms-filter: invert(100%);
  filter: invert(100%);
}

.fx--normal {
  width: 100%;
}

.fx--opacity {
  width: 100%;
  -webkit-filter: opacity(50%);
  -moz-filter: opacity(50%);
  -o-filter: opacity(50%);
  -ms-filter: opacity(50%);
  filter: opacity(50%);
}

.fx--saturate {
  width: 100%;
  -webkit-filter: saturate(200%);
  -moz-filter: saturate(200%);
  -o-filter: saturate(200%);
  -ms-filter: saturate(200%);
  filter: saturate(200%);
}

.fx--sepia {
  width: 100%;
  -webkit-filter: sepia(100%);
  -moz-filter: sepia(100%);
  -o-filter: sepia(100%);
  -ms-filter: sepia(100%);
  filter: sepia(100%);
}

.img {
  height: 14.286em;
  margin: 0.714em auto 0;
  background-image: url('../images/A_thumbnail_macaw.jpg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
}

.s--bubble {
  position: absolute;
  top: -0.714em;
  right: -50px;
  width: 4.286em;
  height: 4.286em;
  background-image: url('../images/ico_heart-bubble.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

.a--footer--made em,
.a--footer--made span {
  font-size: inherit;
}

.a--h1 em,
.a--header-p em {
  font-size: 1em;
}

.a--h1 span,
.a--header-p span {
  font-size: 0.857em;
}