body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(255, 255, 255);
}

.content {
  float: left;
  clear: both;
  width: 100%;
  font-size: 1em;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.manual {
  width: 640px;
  margin: 100px auto 0;
  padding: 50px;
  border-radius: 3px;
  background-color: #ee6d58;
}

.title {
  float: left;
  width: 100%;
  font: normal 2.375em/1.38 Pacifico-Regular;
  color: rgb(255, 255, 255);
}