.nav__li-1:hover {
  visible: true;
  background-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #ffffff;
  font: 300 4.313em/1.2 'Open Sans';
  color: #ffffff;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 19;
  width: 100%;
  margin: 0 auto;
}

.nav--item {
  display: block;
  float: left;
  width: 100%;
  padding: 20px;
  font-size: 0.232em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(204, 207, 209);
}

.nav__li {
  float: left;
  width: 33.3333333333%;
}

.nav__ul {
  width: 100%;
  margin: 0 auto;
  background-color: #1f1f1f;
}

.section {
  position: relative;
  width: 100%;
  min-height: 250px;
  margin: 0 auto;
}

.section--blue {
  background-color: #298cb7;
}

.section--empty {
  background-color: #ffffff;
}

.section--empty .section__title {
  font-family: Helvetica;
  font-weight: 400;
}

.section--green {
  background-color: #29b796;
}

.section--red {
  background-color: #ee6d58;
}

.section__link {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  margin-top: 10px;
  font-size: 0.232em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.section__link--black {
  font-family: Helvetica;
}

.section__title {
  float: left;
  width: 100%;
  margin-top: 150px;
  font-size: 1em;
  text-align: center;
  color: #ffffff;
}